<div class="messages-section">
    <button class="messages-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
        <circle cx="12" cy="12" r="10" />
        <line x1="15" y1="9" x2="9" y2="15" />
        <line x1="9" y1="9" x2="15" y2="15" /></svg>
    </button>
    <div class="projects-section-header">
      <p>Recent Application Logs</p>
    </div>
    <% for (log of logs) { %>
    <div class="messages">
      <div class="message-box">
       
        <div class="message-content">
          <div class="message-header">
            <div class="name"><%= log.file %></div>
          </div>
          <p class="message-line">
            <%= log.info %>
          </p>
          <p class="message-line time">
            <%= log.time %>
          </p>
        </div>
      </div>
      
    </div>
    <% } %>


  </div>