<section >
  
    <div class="card-grid">
      <div class="card">
        <div class="card__background color-1">
          <div class="card__content">
            <p>Total users: </p>
            <div class="card__result"><p><%= total_users %></p></div>
          </div>
        </div>
        </div>

        <div class="card">
          <div class="card__background color-2">
            <div class="card__content">
              <p>Total enabled users: </p>
              <div class="card__result"><p><%= total_enabled_users %></p></div>
            </div>
          </div>
          </div>


          <div class="card">
            <div class="card__background color-3">
              <div class="card__content">
                <p>Total disabled users: </p>
                <div class="card__result"><p><%= total_disabled_users %></p></div>
              </div>
            </div>
            </div>



    </div>
</section>

<section>


      <div class="p-5">
        <table id="datatable-json" class="container">
                            <thead>
                                <tr>
                                    <th>SAM Account Name</th>
                                    <th>Display Name</th>
                                    <th>When Changed</th>
                                    <th>When Created</th>
                                    <th>Enabled</th>
                                    <th>History</th>
                                </tr>
                            </thead>
                            <!-- Ajax Color Table Body -->
                        </table>
        </div>


</section>