<div class="centered-box">
         
         
  <h3>API key</h3>
  <div class="box-generator-wrapper">

  <div class="box-generator">
    <span id="result" class="result"></span>
 
    <input type="button" class="btn-copy center" value="Generate" onclick="get_apikey()">
  </div>
          
  <div class="note">
    <p><i><b>Note:</b> Make sure to save this key in a safe place.
    You will need this key to get the agent connected.
    </i></p>

  </div>


</div>


</div>