<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/buttons.css" rel="stylesheet">
    <% if (active_page === 'login' || active_page === 'register' || active_page === 'alerting-add') { %> <link href="/css/styles.css" rel="stylesheet"> <% } %>
    <% if (active_page === 'reports' || active_page === 'report_events' || active_page === 'alerting') { %> 
        <%- include ('ressources/app-ressources') %>
    <% } %>

    <title>EthicalInsight</title>
</head>